
h1,
h2,
h3,
h4,
h5 {
    font-family: Impact;
}


h1 {
    font-size: 50px;
}

video,
img {
    max-width: 100%;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.content-wrapper {
  padding: 15px;
  max-width: 100vw;
}

.header-wrapper {
    background: #bd25b9;
    color: #ffffff;
    padding: 20px;
    width: 100vw;
}

.inline-block {
    display: inline-block;
}

.v-top {
    vertical-align: top;
}

.text-wrapper {
    padding: 30px;
}

.img-wrapper {
    display: block;
    padding: 30px;
}

.video {
    height: auto;
}

.video--centered {
    display: block;
    margin: 0 auto;
}


@media (min-width: 768px) {
    .w-50 {
        width: 50%;
    }
}
